In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv("data/train_age_dataset.csv")
df.head()

,Unnamed: 0,userId,tier,gender,following_rate,followers_avg_age,following_avg_age,max_repetitive_punc,num_of_hashtags_per_action,emoji_count_per_action,...,content_views,num_of_comments,weekends_trails_watched_per_day,weekdays_trails_watched_per_day,slot1_trails_watched_per_day,slot2_trails_watched_per_day,slot3_trails_watched_per_day,slot4_trails_watched_per_day,avgt2,age_group
0,265153,48958844,2,1,0.0,0.0,0.0,0,0.0,0.0,...,0.200000,0.0,0.041667,0.025000,0.0,0.000000,0.175000,0.033333,0.0,1
1,405231,51100441,2,2,0.0,0.0,0.0,0,0.0,0.0,...,0.093220,0.0,0.012712,0.018644,0.0,0.084746,0.000000,0.033898,82.5,2
2,57867,6887426,2,1,0.0,0.0,0.0,0,0.0,0.0,...,0.002786,0.0,0.000000,0.000557,0.0,0.002786,0.000000,0.000000,0.0,1
3,272618,50742404,2,1,0.0,0.0,0.0,0,0.0,0.0,...,0.008403,0.0,0.000000,0.001681,0.0,0.000000,0.000000,0.008403,0.0,1
4,251123,45589200,2,2,0.0,0.0,0.0,0,0.0,0.0,...,0.204918,0.0,0.000000,0.049180,0.0,0.008197,0.057377,0.180328,0.0,1

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 488877 entries, 0 to 488876
Data columns (total 27 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   Unnamed: 0                       488877 non-null  int64
 1   userId                           488877 non-null  int64
 2   tier                             488877 non-null  int64
 3   gender                           488877 non-null  int64
 4   following_rate                   488877 non-null  float64
 5   followers_avg_age                488877 non-null  float64
 6   following_avg_age                488877 non-null  float64
 7   max_repetitive_punc              488877 non-null  int64
 8   num_of_hashtags_per_action       488877 non-null  float64
 9   emoji_count_per_action           488877 non-null  float64
 10  punctuations_per_action          488877 non-null  float64
 11  number_of_words_per_action       488877 non-null  float64
 12  avgCompletion                    488877 non-null  float64
 13  avgTimeSpent                     488877 non-null  float64
 14  avgDuration                      488877 non-null  float64
 15  avgComments                      488877 non-null  int64
 16  creations                        488877 non-null  float64
 17  content_views                    488877 non-null  float64
 18  num_of_comments                  488877 non-null  float64
 19  weekends_trails_watched_per_day  488877 non-null  float64
 20  weekdays_trails_watched_per_day  488877 non-null  float64
 21  slot1_trails_watched_per_day     488877 non-null  float64
 22  slot2_trails_watched_per_day     488877 non-null  float64
 23  slot3_trails_watched_per_day     488877 non-null  float64
 24  slot4_trails_watched_per_day     488877 non-null  float64
 25  avgt2                            488877 non-null  float64
 26  age_group                        488877 non-null  int64
dtypes: float64(20), int64(7)
memory usage: 100.7 MB

In [4]:
df.groupby(["age_group"]).mean()

,Unnamed: 0,userId,tier,gender,following_rate,followers_avg_age,following_avg_age,max_repetitive_punc,num_of_hashtags_per_action,emoji_count_per_action,...,creations,content_views,num_of_comments,weekends_trails_watched_per_day,weekdays_trails_watched_per_day,slot1_trails_watched_per_day,slot2_trails_watched_per_day,slot3_trails_watched_per_day,slot4_trails_watched_per_day,avgt2
age_group,,,,,,,,,,,,,,,,,,,,,
1,248739.576693,4.592097e+07,2.000613,1.227803,0.037488,0.156694,0.184691,0.329861,0.000165,0.000715,...,0.005014,0.310092,0.000619,0.052511,0.050980,0.020637,0.112356,0.113405,0.113526,45.525977
2,289442.839609,3.045253e+07,1.942718,1.197321,0.135835,0.610343,0.710808,1.503648,0.000780,0.002701,...,0.028927,0.291763,0.002946,0.088530,0.043408,0.027394,0.119307,0.123351,0.124048,334.597225
3,313573.984918,3.647262e+07,1.928266,1.155569,0.157764,0.702247,0.813775,1.434922,0.000513,0.001080,...,0.034721,0.519671,0.004372,0.096760,0.096291,0.051534,0.191694,0.201938,0.229808,401.498253
4,328450.442478,4.178363e+07,1.926139,1.210598,0.181761,0.706179,0.801821,1.381856,0.000118,0.000556,...,0.049054,0.770412,0.005793,0.149007,0.141578,0.081579,0.262730,0.313203,0.348394,368.431505

In [5]:
df["age_group"].value_counts()

1    308315
4     60803
3     60404
2     59355
Name: age_group, dtype: int64

In [6]:
df.shape

(488877, 27)

#### Making a copy and preserving original data set in df:

In [7]:
df1 = df.copy()

#### Dropping UserId column:

In [8]:
#df1.drop(["userId"], axis=1, inplace= True)

In [9]:
df1.head()

,Unnamed: 0,userId,tier,gender,following_rate,followers_avg_age,following_avg_age,max_repetitive_punc,num_of_hashtags_per_action,emoji_count_per_action,...,content_views,num_of_comments,weekends_trails_watched_per_day,weekdays_trails_watched_per_day,slot1_trails_watched_per_day,slot2_trails_watched_per_day,slot3_trails_watched_per_day,slot4_trails_watched_per_day,avgt2,age_group
0,265153,48958844,2,1,0.0,0.0,0.0,0,0.0,0.0,...,0.200000,0.0,0.041667,0.025000,0.0,0.000000,0.175000,0.033333,0.0,1
1,405231,51100441,2,2,0.0,0.0,0.0,0,0.0,0.0,...,0.093220,0.0,0.012712,0.018644,0.0,0.084746,0.000000,0.033898,82.5,2
2,57867,6887426,2,1,0.0,0.0,0.0,0,0.0,0.0,...,0.002786,0.0,0.000000,0.000557,0.0,0.002786,0.000000,0.000000,0.0,1
3,272618,50742404,2,1,0.0,0.0,0.0,0,0.0,0.0,...,0.008403,0.0,0.000000,0.001681,0.0,0.000000,0.000000,0.008403,0.0,1
4,251123,45589200,2,2,0.0,0.0,0.0,0,0.0,0.0,...,0.204918,0.0,0.000000,0.049180,0.0,0.008197,0.057377,0.180328,0.0,1

### Dealing with categorical variables:

In [10]:
df_cat = df1[["gender", "tier", "age_group"]]

In [11]:
df_cat['gender'] = df_cat['gender'].map({1:1, 2:0}).astype('uint8')

C:\Users\Admin\anaconda3.2020\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [12]:
df_cat["tier"].value_counts()

2    397890
1     51511
3     39476
Name: tier, dtype: int64

In [13]:
df2 = pd.get_dummies(df_cat["tier"])
df2.columns = ["tier_1","tier_2","tier_3"]
df2.head()

   tier_1  tier_2  tier_3
0       0       1       0
1       0       1       0
2       0       1       0
3       0       1       0
4       0       1       0

In [14]:
df_cat = pd.concat([df_cat.drop(["tier"], axis=1),df2], axis=1)

In [15]:
df_cat.head()

   gender  age_group  tier_1  tier_2  tier_3
0       1          1       0       1       0
1       0          2       0       1       0
2       1          1       0       1       0
3       1          1       0       1       0
4       0          1       0       1       0

### Dealing with numeric variables:

In [16]:
df_num = df1.drop(["tier","gender","age_group"], axis=1)
df_num.head()

,Unnamed: 0,userId,following_rate,followers_avg_age,following_avg_age,max_repetitive_punc,num_of_hashtags_per_action,emoji_count_per_action,punctuations_per_action,number_of_words_per_action,...,creations,content_views,num_of_comments,weekends_trails_watched_per_day,weekdays_trails_watched_per_day,slot1_trails_watched_per_day,slot2_trails_watched_per_day,slot3_trails_watched_per_day,slot4_trails_watched_per_day,avgt2
0,265153,48958844,0.0,0.0,0.0,0,0.0,0.0,0.000000,0.000000,...,0.000000,0.200000,0.0,0.041667,0.025000,0.0,0.000000,0.175000,0.033333,0.0
1,405231,51100441,0.0,0.0,0.0,0,0.0,0.0,0.076923,0.153846,...,0.008475,0.093220,0.0,0.012712,0.018644,0.0,0.084746,0.000000,0.033898,82.5
2,57867,6887426,0.0,0.0,0.0,0,0.0,0.0,0.000000,0.000000,...,0.000000,0.002786,0.0,0.000000,0.000557,0.0,0.002786,0.000000,0.000000,0.0
3,272618,50742404,0.0,0.0,0.0,0,0.0,0.0,0.000000,0.000000,...,0.000000,0.008403,0.0,0.000000,0.001681,0.0,0.000000,0.000000,0.008403,0.0
4,251123,45589200,0.0,0.0,0.0,0,0.0,0.0,0.000000,0.000000,...,0.000000,0.204918,0.0,0.000000,0.049180,0.0,0.008197,0.057377,0.180328,0.0

In [17]:
Std = df_num.std()
Mean = df_num.mean()
df_num = (df_num - Mean)/Std

In [18]:
df_num.describe()

,Unnamed: 0,userId,following_rate,followers_avg_age,following_avg_age,max_repetitive_punc,num_of_hashtags_per_action,emoji_count_per_action,punctuations_per_action,number_of_words_per_action,...,creations,content_views,num_of_comments,weekends_trails_watched_per_day,weekdays_trails_watched_per_day,slot1_trails_watched_per_day,slot2_trails_watched_per_day,slot3_trails_watched_per_day,slot4_trails_watched_per_day,avgt2
count,4.888770e+05,4.888770e+05,4.888770e+05,4.888770e+05,4.888770e+05,4.888770e+05,4.888770e+05,4.888770e+05,4.888770e+05,4.888770e+05,...,4.888770e+05,4.888770e+05,4.888770e+05,4.888770e+05,4.888770e+05,4.888770e+05,4.888770e+05,4.888770e+05,4.888770e+05,4.888770e+05
mean,-9.418105e-17,2.563312e-18,-3.295374e-15,3.666243e-15,7.113034e-15,-2.521574e-16,-9.279987e-15,2.392272e-15,4.343597e-15,5.851335e-14,...,4.216185e-14,-8.204251e-14,6.536793e-15,-1.558692e-14,8.768067e-14,-3.645395e-15,1.758861e-14,1.390724e-14,-6.410091e-15,-9.870548e-16
std,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,...,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
min,-1.732091e+00,-2.325397e+00,-3.332267e-02,-4.257077e-01,-4.355915e-01,-2.404940e-01,-2.268127e-02,-4.815076e-02,-8.025581e-02,-2.766381e-01,...,-9.459493e-02,-4.309335e-01,-6.572489e-02,-3.522254e-01,-3.828987e-01,-1.693876e-01,-3.519645e-01,-3.327462e-01,-3.154612e-01,-1.677878e-01
25%,-8.661986e-01,-3.834385e-01,-3.332267e-02,-4.257077e-01,-4.355915e-01,-2.404940e-01,-2.268127e-02,-4.815076e-02,-8.025581e-02,-2.766381e-01,...,-9.459493e-02,-3.870111e-01,-6.572489e-02,-3.522254e-01,-3.699382e-01,-1.693876e-01,-3.519645e-01,-3.327462e-01,-3.154612e-01,-1.677878e-01
50%,-2.932362e-04,5.499074e-02,-3.332267e-02,-4.257077e-01,-4.355915e-01,-2.404940e-01,-2.268127e-02,-4.815076e-02,-8.025581e-02,-2.766381e-01,...,-9.459493e-02,-2.949087e-01,-6.572489e-02,-3.334269e-01,-2.920873e-01,-1.693876e-01,-3.225706e-01,-3.005268e-01,-2.838458e-01,-1.677878e-01
75%,8.661860e-01,6.227422e-01,-2.982938e-02,-4.257077e-01,-4.355915e-01,-2.404940e-01,-2.268127e-02,-4.815076e-02,-8.025581e-02,-4.472669e-02,...,-4.420256e-02,-2.930169e-02,-6.572489e-02,-6.799223e-02,-4.525877e-02,-1.693876e-01,-6.089662e-02,-7.025862e-02,-7.167649e-02,1.415585e-02
max,1.731989e+00,2.013602e+00,3.627638e+02,4.474247e+00,3.887373e+00,2.026234e+02,1.909009e+02,1.471449e+02,1.712314e+02,4.053308e+02,...,3.512802e+02,8.314479e+01,2.681486e+02,8.113625e+01,1.069233e+02,1.009481e+02,6.896033e+01,9.940940e+01,1.095385e+02,3.985711e+01

### Combining the Categorical and Numeric parts

In [19]:
df_comb = pd.concat([df_cat, df_num], axis=1)
df_comb.head()

,gender,age_group,tier_1,tier_2,tier_3,Unnamed: 0,userId,following_rate,followers_avg_age,following_avg_age,...,creations,content_views,num_of_comments,weekends_trails_watched_per_day,weekdays_trails_watched_per_day,slot1_trails_watched_per_day,slot2_trails_watched_per_day,slot3_trails_watched_per_day,slot4_trails_watched_per_day,avgt2
0,1,1,0,1,0,-0.041152,0.362190,-0.033323,-0.425708,-0.435591,...,-0.094595,-0.210993,-0.065725,-0.154841,-0.239871,-0.169388,-0.351964,0.054423,-0.249069,-0.167788
1,0,2,0,1,0,0.852156,0.479753,-0.033323,-0.425708,-0.435591,...,-0.047619,-0.328942,-0.065725,-0.292006,-0.276234,-0.169388,-0.141475,-0.332746,-0.247943,-0.083775
2,1,1,0,1,0,-1.363061,-1.947314,-0.033323,-0.425708,-0.435591,...,-0.094595,-0.428837,-0.065725,-0.352225,-0.379711,-0.169388,-0.345046,-0.332746,-0.315461,-0.167788
3,1,1,0,1,0,0.006454,0.460098,-0.033323,-0.425708,-0.435591,...,-0.094595,-0.422631,-0.065725,-0.352225,-0.373283,-0.169388,-0.351964,-0.332746,-0.298724,-0.167788
4,0,1,0,1,0,-0.130624,0.177214,-0.033323,-0.425708,-0.435591,...,-0.094595,-0.205561,-0.065725,-0.352225,-0.101532,-0.169388,-0.331606,-0.205805,0.043711,-0.167788

### Shuffling the data:

In [20]:
df_shuffled = df_comb.iloc[np.random.permutation(range(len(df_comb)))]

In [21]:
df_shuffled.reset_index(drop=True, inplace=True)
df_shuffled.head()

,gender,age_group,tier_1,tier_2,tier_3,Unnamed: 0,userId,following_rate,followers_avg_age,following_avg_age,...,creations,content_views,num_of_comments,weekends_trails_watched_per_day,weekdays_trails_watched_per_day,slot1_trails_watched_per_day,slot2_trails_watched_per_day,slot3_trails_watched_per_day,slot4_trails_watched_per_day,avgt2
0,1,4,0,1,0,1.239253,-2.212707,-0.014528,4.474247,2.158187,...,-0.074027,-0.194189,-0.065725,-0.198420,-0.157875,-0.169388,-0.351964,-0.304014,0.179711,-0.012537
1,1,3,1,0,0,-1.527580,0.172041,-0.020037,-0.425708,-0.435591,...,0.087148,2.030806,-0.065725,-0.235736,2.496420,-0.169388,-0.250170,0.175017,4.255821,0.053464
2,1,1,0,1,0,0.396893,1.076714,-0.033323,-0.425708,-0.435591,...,-0.094595,0.018109,-0.065725,-0.352225,0.069140,-0.169388,0.077331,0.158897,-0.315461,-0.167788
3,1,2,0,1,0,1.096939,-2.233822,-0.032599,-0.425708,-0.435591,...,-0.084696,-0.416134,-0.065725,-0.352225,-0.364509,-0.169388,-0.312047,-0.332746,-0.315461,0.053928
4,0,1,0,1,0,-0.573274,-1.041167,-0.033323,-0.425708,-0.435591,...,-0.094595,-0.425975,-0.065725,-0.352225,-0.376747,-0.169388,-0.338611,-0.332746,-0.315461,-0.167788

### Separating the output:

In [22]:
df_y = df_shuffled[["age_group"]]

In [23]:
df_shuffled.drop(["age_group"], axis=1, inplace= True)

C:\Users\Admin\anaconda3.2020\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [24]:
df_shuffled.head()

,gender,tier_1,tier_2,tier_3,Unnamed: 0,userId,following_rate,followers_avg_age,following_avg_age,max_repetitive_punc,...,creations,content_views,num_of_comments,weekends_trails_watched_per_day,weekdays_trails_watched_per_day,slot1_trails_watched_per_day,slot2_trails_watched_per_day,slot3_trails_watched_per_day,slot4_trails_watched_per_day,avgt2
0,1,0,1,0,1.239253,-2.212707,-0.014528,4.474247,2.158187,-0.240494,...,-0.074027,-0.194189,-0.065725,-0.198420,-0.157875,-0.169388,-0.351964,-0.304014,0.179711,-0.012537
1,1,1,0,0,-1.527580,0.172041,-0.020037,-0.425708,-0.435591,0.734813,...,0.087148,2.030806,-0.065725,-0.235736,2.496420,-0.169388,-0.250170,0.175017,4.255821,0.053464
2,1,0,1,0,0.396893,1.076714,-0.033323,-0.425708,-0.435591,-0.240494,...,-0.094595,0.018109,-0.065725,-0.352225,0.069140,-0.169388,0.077331,0.158897,-0.315461,-0.167788
3,1,0,1,0,1.096939,-2.233822,-0.032599,-0.425708,-0.435591,-0.240494,...,-0.084696,-0.416134,-0.065725,-0.352225,-0.364509,-0.169388,-0.312047,-0.332746,-0.315461,0.053928
4,0,0,1,0,-0.573274,-1.041167,-0.033323,-0.425708,-0.435591,-0.240494,...,-0.094595,-0.425975,-0.065725,-0.352225,-0.376747,-0.169388,-0.338611,-0.332746,-0.315461,-0.167788

In [25]:
df_y.head()

   age_group
0          4
1          3
2          1
3          2
4          1

#### Current relevant variables in memory:

Dataframes:
- df --> untouched dataset
- df_comb --> normalized dataset 
- df_shuffled --> shuffled dataset
- df_y --> output

Transformation:
- Std --> standard deviation of dataset
- Mean --> mean of dataset

### Converting data into numpy arrays and splitting into training and validation sets:

In [26]:
X = df_shuffled.to_numpy()
y = pd.get_dummies(df_y["age_group"]).to_numpy()

In [27]:
X.shape, y.shape

((488877, 28), (488877, 4))

In [28]:
X[0], y[:4]

(array([ 1.00000000e+00,  0.00000000e+00,  1.00000000e+00,  0.00000000e+00,
         1.23925340e+00, -2.21270741e+00, -1.45275763e-02,  4.47424656e+00,
         2.15818695e+00, -2.40493986e-01, -2.26812673e-02, -4.81507557e-02,
        -8.02558057e-02, -2.50685360e-01, -5.41792227e-01, -1.85661590e-03,
        -5.23441468e-01, -4.19517000e-02, -7.40266142e-02, -1.94188530e-01,
        -6.57248890e-02, -1.98419555e-01, -1.57875021e-01, -1.69387616e-01,
        -3.51964464e-01, -3.04013758e-01,  1.79710572e-01, -1.25370427e-02]),
 array([[0, 0, 0, 1],
        [0, 0, 1, 0],
        [1, 0, 0, 0],
        [0, 1, 0, 0]], dtype=uint8))

In [29]:
# Keeping 40,000 examples in validation set and remaining in training set
X_train = X[:-40000]
X_val = X[-40000:]
y_train = y[:-40000]
y_val = y[-40000:]

In [30]:
X_train.shape, y_train.shape

((448877, 28), (448877, 4))

### Using keras to build a multi-class classifier

In [31]:
# !pip install --upgrade pip
# !pip install tensorflow

In [32]:
import tensorflow as tf
from tensorflow import keras

In [36]:
model = keras.Sequential([
    keras.layers.Dense(64, activation=tf.nn.relu, input_dim=28),
    keras.layers.Dense(128, activation=tf.nn.relu),
    keras.layers.Dense(4, activation=tf.nn.softmax)
])

In [37]:
model.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])

In [38]:
model.fit(X_train, y_train, epochs=20, validation_data=(X_val, y_val))

Epoch 1/20
14028/14028 [==============================] - 18s 1ms/step - loss: 0.6511 - accuracy: 0.6943 - val_loss: 0.6002 - val_accuracy: 0.7097
Epoch 2/20
14028/14028 [==============================] - 19s 1ms/step - loss: 0.5732 - accuracy: 0.7276 - val_loss: 0.5561 - val_accuracy: 0.7329
Epoch 3/20
14028/14028 [==============================] - 20s 1ms/step - loss: 0.5563 - accuracy: 0.7419 - val_loss: 0.5397 - val_accuracy: 0.7432
Epoch 4/20
14028/14028 [==============================] - 19s 1ms/step - loss: 0.5403 - accuracy: 0.7479 - val_loss: 0.5294 - val_accuracy: 0.7481
Epoch 5/20
14028/14028 [==============================] - 19s 1ms/step - loss: 0.5324 - accuracy: 0.7508 - val_loss: 0.5219 - val_accuracy: 0.7484
Epoch 6/20
14028/14028 [==============================] - 19s 1ms/step - loss: 0.5168 - accuracy: 0.7524 - val_loss: 0.5175 - val_accuracy: 0.7545
Epoch 7/20
14028/14028 [==============================] - 20s 1ms/step - loss: 0.5420 - accuracy: 0.7531 - val_loss: 0.5219 - val_accuracy: 0.7506
Epoch 8/20
14028/14028 [==============================] - 20s 1ms/step - loss: 0.5147 - accuracy: 0.7542 - val_loss: 0.5143 - val_accuracy: 0.7534
Epoch 9/20
14028/14028 [==============================] - 21s 2ms/step - loss: 0.5150 - accuracy: 0.7554 - val_loss: 0.5167 - val_accuracy: 0.7509
Epoch 10/20
14028/14028 [==============================] - 20s 1ms/step - loss: 0.5092 - accuracy: 0.7555 - val_loss: 0.5154 - val_accuracy: 0.7477
Epoch 11/20
14028/14028 [==============================] - 22s 2ms/step - loss: 0.5203 - accuracy: 0.7557 - val_loss: 0.5098 - val_accuracy: 0.7531
Epoch 12/20
14028/14028 [==============================] - 28s 2ms/step - loss: 0.5189 - accuracy: 0.7562 - val_loss: 0.5166 - val_accuracy: 0.7542
Epoch 13/20
14028/14028 [==============================] - 23s 2ms/step - loss: 0.5123 - accuracy: 0.7564 - val_loss: 0.5146 - val_accuracy: 0.7506
Epoch 14/20
14028/14028 [==============================] - 16s 1ms/step - loss: 0.5051 - accuracy: 0.7569 - val_loss: 0.5150 - val_accuracy: 0.7498
Epoch 15/20
14028/14028 [==============================] - 19s 1ms/step - loss: 0.5064 - accuracy: 0.7572 - val_loss: 0.5109 - val_accuracy: 0.7525
Epoch 16/20
14028/14028 [==============================] - 16s 1ms/step - loss: 0.5037 - accuracy: 0.7574 - val_loss: 0.5084 - val_accuracy: 0.7555
Epoch 17/20
14028/14028 [==============================] - 19s 1ms/step - loss: 0.5052 - accuracy: 0.7576 - val_loss: 0.5109 - val_accuracy: 0.7549
Epoch 18/20
14028/14028 [==============================] - 21s 1ms/step - loss: 0.5037 - accuracy: 0.7574 - val_loss: 0.5110 - val_accuracy: 0.7546
Epoch 19/20
14028/14028 [==============================] - 19s 1ms/step - loss: 0.5032 - accuracy: 0.7577 - val_loss: 0.5095 - val_accuracy: 0.7527
Epoch 20/20
14028/14028 [==============================] - 22s 2ms/step - loss: 0.5129 - accuracy: 0.7581 - val_loss: 0.5075 - val_accuracy: 0.7534

### Making Predictions on Validation set and evaluating it

In [39]:
import sklearn
from sklearn import metrics

In [40]:
y_val_pred = model.predict(X_val)
y_val_pred.shape

(40000, 4)

In [41]:
for i in range(y_val.shape[0]):
    y_val_pred[i,:] = (y_val_pred[i,:] == max(y_val_pred[i,:]))
val_predict = y_val_pred @ np.array([1,2,3,4]).reshape(4,1)
y_val = y_val @ np.array([1,2,3,4]).reshape(4,1)

In [42]:
print(metrics.classification_report(y_val, val_predict, digits=4))

              precision    recall  f1-score   support

           1     0.9137    0.9030    0.9083     25336
           2     0.4802    0.5845    0.5273      4814
           3     0.4497    0.5331    0.4878      4971
           4     0.5588    0.3673    0.4432      4879

    accuracy                         0.7533     40000
   macro avg     0.6006    0.5970    0.5917     40000
weighted avg     0.7605    0.7533    0.7535     40000

### Preparing test set for prediction

In [43]:
df_test = pd.read_csv("data/test_age_dataset.csv")
df_test.head()

,Unnamed: 0,userId,tier,gender,following_rate,followers_avg_age,following_avg_age,max_repetitive_punc,num_of_hashtags_per_action,emoji_count_per_action,...,creations,content_views,num_of_comments,weekends_trails_watched_per_day,weekdays_trails_watched_per_day,slot1_trails_watched_per_day,slot2_trails_watched_per_day,slot3_trails_watched_per_day,slot4_trails_watched_per_day,avgt2
0,62683,33840667,2,1,0.000000,0.0,0.0,0,0.0,0.0,...,0.000000,0.062992,0.0,0.000000,0.012598,0.000000,0.000000,0.062992,0.000000,0.0
1,173104,1828421,2,1,0.001818,0.0,0.0,0,0.0,0.0,...,0.000000,0.003636,0.0,0.000000,0.000727,0.000000,0.000000,0.003636,0.000000,0.0
2,306061,57353310,2,1,0.000000,0.0,0.0,0,0.0,0.0,...,0.000000,1.028571,0.0,0.000000,0.211429,0.000000,0.000000,0.742857,0.314286,0.0
3,422061,36618563,2,2,0.000000,0.0,0.0,4,0.0,0.0,...,0.007937,0.166667,0.0,0.067460,0.006349,0.000000,0.111111,0.023810,0.031746,201.0
4,219653,39484434,2,1,0.000000,0.0,0.0,0,0.0,0.0,...,0.000000,0.233871,0.0,0.116935,0.000000,0.233871,0.000000,0.000000,0.000000,0.0

In [44]:
#df_test.drop(["userId"], axis=1, inplace= True)

In [45]:
df_test.shape

(54320, 26)

Dealing with categorical variables:

In [46]:
df_test_cat = df_test[["gender", "tier"]]

In [47]:
df_test_cat['gender'] = df_test_cat['gender'].map({1:1, 2:0}).astype('uint8')

C:\Users\Admin\anaconda3.2020\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [48]:
df_test_cat["tier"].value_counts()

2    44192
1     5713
3     4415
Name: tier, dtype: int64

In [49]:
df3 = pd.get_dummies(df_test_cat["tier"])
df3.columns = ["tier_1","tier_2","tier_3"]
df3.head()

   tier_1  tier_2  tier_3
0       0       1       0
1       0       1       0
2       0       1       0
3       0       1       0
4       0       1       0

In [50]:
df_test_cat = pd.concat([df_test_cat.drop(["tier"], axis=1),df3], axis=1)

In [51]:
df_test_cat.head()

   gender  tier_1  tier_2  tier_3
0       1       0       1       0
1       1       0       1       0
2       1       0       1       0
3       0       0       1       0
4       1       0       1       0

Dealing with numeric variables:

In [52]:
df_test_num = df_test.drop(["tier","gender"], axis=1)
df_test_num.head()

,Unnamed: 0,userId,following_rate,followers_avg_age,following_avg_age,max_repetitive_punc,num_of_hashtags_per_action,emoji_count_per_action,punctuations_per_action,number_of_words_per_action,...,creations,content_views,num_of_comments,weekends_trails_watched_per_day,weekdays_trails_watched_per_day,slot1_trails_watched_per_day,slot2_trails_watched_per_day,slot3_trails_watched_per_day,slot4_trails_watched_per_day,avgt2
0,62683,33840667,0.000000,0.0,0.0,0,0.0,0.0,0.0,0.000000,...,0.000000,0.062992,0.0,0.000000,0.012598,0.000000,0.000000,0.062992,0.000000,0.0
1,173104,1828421,0.001818,0.0,0.0,0,0.0,0.0,0.0,0.000000,...,0.000000,0.003636,0.0,0.000000,0.000727,0.000000,0.000000,0.003636,0.000000,0.0
2,306061,57353310,0.000000,0.0,0.0,0,0.0,0.0,0.0,0.000000,...,0.000000,1.028571,0.0,0.000000,0.211429,0.000000,0.000000,0.742857,0.314286,0.0
3,422061,36618563,0.000000,0.0,0.0,4,0.0,0.0,0.0,0.130435,...,0.007937,0.166667,0.0,0.067460,0.006349,0.000000,0.111111,0.023810,0.031746,201.0
4,219653,39484434,0.000000,0.0,0.0,0,0.0,0.0,0.0,0.000000,...,0.000000,0.233871,0.0,0.116935,0.000000,0.233871,0.000000,0.000000,0.000000,0.0

In [53]:
df_test_num = (df_test_num - Mean)/Std

In [54]:
df_test_num.describe()

,Unnamed: 0,userId,following_rate,followers_avg_age,following_avg_age,max_repetitive_punc,num_of_hashtags_per_action,emoji_count_per_action,punctuations_per_action,number_of_words_per_action,...,creations,content_views,num_of_comments,weekends_trails_watched_per_day,weekdays_trails_watched_per_day,slot1_trails_watched_per_day,slot2_trails_watched_per_day,slot3_trails_watched_per_day,slot4_trails_watched_per_day,avgt2
count,54320.000000,54320.000000,54320.000000,54320.000000,54320.000000,54320.000000,54320.000000,54320.000000,54320.000000,54320.000000,...,54320.000000,54320.000000,54320.000000,54320.000000,54320.000000,54320.000000,54320.000000,54320.000000,54320.000000,54320.000000
mean,-0.000509,0.006603,-0.000417,-0.004272,-0.006070,-0.001611,0.006549,-0.003559,-0.004311,-0.000986,...,0.003620,0.002641,0.004070,0.004969,0.002381,-0.000036,0.000195,0.005195,0.003503,-0.006599
std,0.999976,0.998063,1.257488,0.996016,0.992107,0.917700,1.270690,0.856478,0.818385,0.927334,...,0.867076,1.026769,1.018808,1.005233,1.028019,0.907312,0.984569,1.065505,1.000891,0.937089
min,-1.732059,-2.325396,-0.033323,-0.425708,-0.435591,-0.240494,-0.022681,-0.048151,-0.080256,-0.276638,...,-0.094595,-0.430950,-0.065725,-0.352225,-0.382899,-0.169388,-0.351964,-0.332746,-0.315461,-0.167788
25%,-0.864666,-0.377967,-0.033323,-0.425708,-0.435591,-0.240494,-0.022681,-0.048151,-0.080256,-0.276638,...,-0.094595,-0.386828,-0.065725,-0.352225,-0.370066,-0.169388,-0.351964,-0.332746,-0.315461,-0.167788
50%,0.002028,0.059544,-0.033323,-0.425708,-0.435591,-0.240494,-0.022681,-0.048151,-0.080256,-0.276638,...,-0.094595,-0.293838,-0.065725,-0.333427,-0.292565,-0.169388,-0.323083,-0.300682,-0.283846,-0.167788
75%,0.863691,0.622847,-0.029829,-0.425708,-0.435591,-0.240494,-0.022681,-0.048151,-0.080256,-0.049488,...,-0.044657,-0.029367,-0.065725,-0.067992,-0.049167,-0.169388,-0.059755,-0.072464,-0.066490,0.014204
max,1.731906,2.013587,277.656497,4.474247,3.887373,42.022816,190.900903,82.983837,78.263505,101.331123,...,93.669384,37.158027,149.635724,41.799353,49.234825,63.967027,42.022810,53.035640,43.696299,28.828806

Combining the Categorical and Numeric parts

In [55]:
df_test_comb = pd.concat([df_test_cat, df_test_num], axis=1)
df_test_comb.head()

,gender,tier_1,tier_2,tier_3,Unnamed: 0,userId,following_rate,followers_avg_age,following_avg_age,max_repetitive_punc,...,creations,content_views,num_of_comments,weekends_trails_watched_per_day,weekdays_trails_watched_per_day,slot1_trails_watched_per_day,slot2_trails_watched_per_day,slot3_trails_watched_per_day,slot4_trails_watched_per_day,avgt2
0,1,0,1,0,-1.332348,-0.467720,-0.033323,-0.425708,-0.435591,-0.240494,...,-0.094595,-0.362332,-0.065725,-0.352225,-0.310822,-0.169388,-0.351964,-0.193383,-0.315461,-0.167788
1,1,0,1,0,-0.628169,-2.225027,-0.032586,-0.425708,-0.435591,-0.240494,...,-0.094595,-0.427897,-0.065725,-0.352225,-0.378738,-0.169388,-0.351964,-0.324701,-0.315461,-0.167788
2,1,0,1,0,0.219727,0.823003,-0.033323,-0.425708,-0.435591,-0.240494,...,-0.094595,0.704248,-0.065725,-0.352225,0.826710,-0.169388,-0.351964,1.310747,0.310525,-0.167788
3,0,0,1,0,0.959485,-0.315228,-0.033323,-0.425708,-0.435591,1.059916,...,-0.050602,-0.247813,-0.065725,-0.032651,-0.346574,-0.169388,-0.075989,-0.280070,-0.252230,0.036899
4,1,0,1,0,-0.331316,-0.157906,-0.033323,-0.425708,-0.435591,-0.240494,...,-0.094595,-0.173579,-0.065725,0.201724,-0.382899,1.036372,-0.351964,-0.332746,-0.315461,-0.167788

In [56]:
X_test = df_test_comb.to_numpy()
X_test.shape

(54320, 28)

### Making predictions on Test Set

In [57]:
y_pred = model.predict(X_test)
y_pred.shape

(54320, 4)

In [58]:
y_pred[:5]

array([[1.0000000e+00, 6.2579832e-16, 1.5525088e-16, 1.1011372e-16],
       [9.9998093e-01, 3.0967162e-06, 9.3008266e-06, 6.6868856e-06],
       [1.0000000e+00, 3.1880333e-31, 8.9802810e-28, 4.7424731e-26],
       [2.3616487e-01, 3.6380222e-01, 2.4736141e-01, 1.5267143e-01],
       [1.0000000e+00, 1.1981708e-18, 3.9515890e-17, 1.4842588e-17]],
      dtype=float32)

In [59]:
for i in range(y_pred.shape[0]):
    y_pred[i,:] = (y_pred[i,:] == max(y_pred[i,:]))
predictions = y_pred @ np.array([1,2,3,4]).reshape(4,1)

In [60]:
predictions[:5]

array([[1.],
       [1.],
       [1.],
       [2.],
       [1.]])

In [62]:
df_pred = pd.DataFrame(
    {"prediction" : predictions.reshape(-1).astype('int32')}
    )

In [68]:
print(df_pred.shape)
df_pred.head()

(54320, 1)

   prediction
0           1
1           1
2           1
3           2
4           1

In [65]:
df_pred.to_csv('predictions/vibe_bruv.csv', index=False)