In [14]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [15]:
df = pd.read_csv("data/train_age_dataset.csv")
df.head()

,Unnamed: 0,userId,tier,gender,following_rate,followers_avg_age,following_avg_age,max_repetitive_punc,num_of_hashtags_per_action,emoji_count_per_action,...,content_views,num_of_comments,weekends_trails_watched_per_day,weekdays_trails_watched_per_day,slot1_trails_watched_per_day,slot2_trails_watched_per_day,slot3_trails_watched_per_day,slot4_trails_watched_per_day,avgt2,age_group
0,265153,48958844,2,1,0.0,0.0,0.0,0,0.0,0.0,...,0.200000,0.0,0.041667,0.025000,0.0,0.000000,0.175000,0.033333,0.0,1
1,405231,51100441,2,2,0.0,0.0,0.0,0,0.0,0.0,...,0.093220,0.0,0.012712,0.018644,0.0,0.084746,0.000000,0.033898,82.5,2
2,57867,6887426,2,1,0.0,0.0,0.0,0,0.0,0.0,...,0.002786,0.0,0.000000,0.000557,0.0,0.002786,0.000000,0.000000,0.0,1
3,272618,50742404,2,1,0.0,0.0,0.0,0,0.0,0.0,...,0.008403,0.0,0.000000,0.001681,0.0,0.000000,0.000000,0.008403,0.0,1
4,251123,45589200,2,2,0.0,0.0,0.0,0,0.0,0.0,...,0.204918,0.0,0.000000,0.049180,0.0,0.008197,0.057377,0.180328,0.0,1

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 488877 entries, 0 to 488876
Data columns (total 27 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   Unnamed: 0                       488877 non-null  int64
 1   userId                           488877 non-null  int64
 2   tier                             488877 non-null  int64
 3   gender                           488877 non-null  int64
 4   following_rate                   488877 non-null  float64
 5   followers_avg_age                488877 non-null  float64
 6   following_avg_age                488877 non-null  float64
 7   max_repetitive_punc              488877 non-null  int64
 8   num_of_hashtags_per_action       488877 non-null  float64
 9   emoji_count_per_action           488877 non-null  float64
 10  punctuations_per_action          488877 non-null  float64
 11  number_of_words_per_action       488877 non-null  float64
 12  avgCompletion                    488877 non-null  float64
 13  avgTimeSpent                     488877 non-null  float64
 14  avgDuration                      488877 non-null  float64
 15  avgComments                      488877 non-null  int64
 16  creations                        488877 non-null  float64
 17  content_views                    488877 non-null  float64
 18  num_of_comments                  488877 non-null  float64
 19  weekends_trails_watched_per_day  488877 non-null  float64
 20  weekdays_trails_watched_per_day  488877 non-null  float64
 21  slot1_trails_watched_per_day     488877 non-null  float64
 22  slot2_trails_watched_per_day     488877 non-null  float64
 23  slot3_trails_watched_per_day     488877 non-null  float64
 24  slot4_trails_watched_per_day     488877 non-null  float64
 25  avgt2                            488877 non-null  float64
 26  age_group                        488877 non-null  int64
dtypes: float64(20), int64(7)
memory usage: 100.7 MB

In [17]:
df.groupby(["age_group"]).mean()

,Unnamed: 0,userId,tier,gender,following_rate,followers_avg_age,following_avg_age,max_repetitive_punc,num_of_hashtags_per_action,emoji_count_per_action,...,creations,content_views,num_of_comments,weekends_trails_watched_per_day,weekdays_trails_watched_per_day,slot1_trails_watched_per_day,slot2_trails_watched_per_day,slot3_trails_watched_per_day,slot4_trails_watched_per_day,avgt2
age_group,,,,,,,,,,,,,,,,,,,,,
1,248739.576693,4.592097e+07,2.000613,1.227803,0.037488,0.156694,0.184691,0.329861,0.000165,0.000715,...,0.005014,0.310092,0.000619,0.052511,0.050980,0.020637,0.112356,0.113405,0.113526,45.525977
2,289442.839609,3.045253e+07,1.942718,1.197321,0.135835,0.610343,0.710808,1.503648,0.000780,0.002701,...,0.028927,0.291763,0.002946,0.088530,0.043408,0.027394,0.119307,0.123351,0.124048,334.597225
3,313573.984918,3.647262e+07,1.928266,1.155569,0.157764,0.702247,0.813775,1.434922,0.000513,0.001080,...,0.034721,0.519671,0.004372,0.096760,0.096291,0.051534,0.191694,0.201938,0.229808,401.498253
4,328450.442478,4.178363e+07,1.926139,1.210598,0.181761,0.706179,0.801821,1.381856,0.000118,0.000556,...,0.049054,0.770412,0.005793,0.149007,0.141578,0.081579,0.262730,0.313203,0.348394,368.431505

In [27]:
df["age_group"].value_counts()

1    308315
4     60803
3     60404
2     59355
Name: age_group, dtype: int64

#### Making a copy and preserving original data set in df:

In [18]:
df1 = df.copy()

#### Dropping UserId column:

In [19]:
df1.drop(["userId"], axis=1, inplace= True)

In [20]:
df1.head()

,Unnamed: 0,tier,gender,following_rate,followers_avg_age,following_avg_age,max_repetitive_punc,num_of_hashtags_per_action,emoji_count_per_action,punctuations_per_action,...,content_views,num_of_comments,weekends_trails_watched_per_day,weekdays_trails_watched_per_day,slot1_trails_watched_per_day,slot2_trails_watched_per_day,slot3_trails_watched_per_day,slot4_trails_watched_per_day,avgt2,age_group
0,265153,2,1,0.0,0.0,0.0,0,0.0,0.0,0.000000,...,0.200000,0.0,0.041667,0.025000,0.0,0.000000,0.175000,0.033333,0.0,1
1,405231,2,2,0.0,0.0,0.0,0,0.0,0.0,0.076923,...,0.093220,0.0,0.012712,0.018644,0.0,0.084746,0.000000,0.033898,82.5,2
2,57867,2,1,0.0,0.0,0.0,0,0.0,0.0,0.000000,...,0.002786,0.0,0.000000,0.000557,0.0,0.002786,0.000000,0.000000,0.0,1
3,272618,2,1,0.0,0.0,0.0,0,0.0,0.0,0.000000,...,0.008403,0.0,0.000000,0.001681,0.0,0.000000,0.000000,0.008403,0.0,1
4,251123,2,2,0.0,0.0,0.0,0,0.0,0.0,0.000000,...,0.204918,0.0,0.000000,0.049180,0.0,0.008197,0.057377,0.180328,0.0,1

#### Changing gender column to a binary (1,0) scheme:

In [21]:
df1['gender'] = df1['gender'].map({1:1, 2:0}).astype('uint8')

#### One hot encoding "tier" column as it is a categorical variable:

In [22]:
df1.head()

,Unnamed: 0,tier,gender,following_rate,followers_avg_age,following_avg_age,max_repetitive_punc,num_of_hashtags_per_action,emoji_count_per_action,punctuations_per_action,...,content_views,num_of_comments,weekends_trails_watched_per_day,weekdays_trails_watched_per_day,slot1_trails_watched_per_day,slot2_trails_watched_per_day,slot3_trails_watched_per_day,slot4_trails_watched_per_day,avgt2,age_group
0,265153,2,1,0.0,0.0,0.0,0,0.0,0.0,0.000000,...,0.200000,0.0,0.041667,0.025000,0.0,0.000000,0.175000,0.033333,0.0,1
1,405231,2,0,0.0,0.0,0.0,0,0.0,0.0,0.076923,...,0.093220,0.0,0.012712,0.018644,0.0,0.084746,0.000000,0.033898,82.5,2
2,57867,2,1,0.0,0.0,0.0,0,0.0,0.0,0.000000,...,0.002786,0.0,0.000000,0.000557,0.0,0.002786,0.000000,0.000000,0.0,1
3,272618,2,1,0.0,0.0,0.0,0,0.0,0.0,0.000000,...,0.008403,0.0,0.000000,0.001681,0.0,0.000000,0.000000,0.008403,0.0,1
4,251123,2,0,0.0,0.0,0.0,0,0.0,0.0,0.000000,...,0.204918,0.0,0.000000,0.049180,0.0,0.008197,0.057377,0.180328,0.0,1

In [23]:
df1.tier.value_counts()

2    397890
1     51511
3     39476
Name: tier, dtype: int64

In [24]:
df2 = pd.get_dummies(df["tier"])
df2.columns = ["tier_1","tier_2","tier_3"]
df2.head()

   tier_1  tier_2  tier_3
0       0       1       0
1       0       1       0
2       0       1       0
3       0       1       0
4       0       1       0

In [25]:
df1 = pd.concat([df1.drop(["tier"], axis=1),df2], axis=1)

In [26]:
df1.head()

,Unnamed: 0,gender,following_rate,followers_avg_age,following_avg_age,max_repetitive_punc,num_of_hashtags_per_action,emoji_count_per_action,punctuations_per_action,number_of_words_per_action,...,weekdays_trails_watched_per_day,slot1_trails_watched_per_day,slot2_trails_watched_per_day,slot3_trails_watched_per_day,slot4_trails_watched_per_day,avgt2,age_group,tier_1,tier_2,tier_3
0,265153,1,0.0,0.0,0.0,0,0.0,0.0,0.000000,0.000000,...,0.025000,0.0,0.000000,0.175000,0.033333,0.0,1,0,1,0
1,405231,0,0.0,0.0,0.0,0,0.0,0.0,0.076923,0.153846,...,0.018644,0.0,0.084746,0.000000,0.033898,82.5,2,0,1,0
2,57867,1,0.0,0.0,0.0,0,0.0,0.0,0.000000,0.000000,...,0.000557,0.0,0.002786,0.000000,0.000000,0.0,1,0,1,0
3,272618,1,0.0,0.0,0.0,0,0.0,0.0,0.000000,0.000000,...,0.001681,0.0,0.000000,0.000000,0.008403,0.0,1,0,1,0
4,251123,0,0.0,0.0,0.0,0,0.0,0.0,0.000000,0.000000,...,0.049180,0.0,0.008197,0.057377,0.180328,0.0,1,0,1,0